@page "/"
@using Car_Rental.Business.Classes
@using Car_Rental.Common.Interfaces
@using Car_Rental.Common.Enums
@inject BookingProcessor bp

<PageTitle>Car Rental</PageTitle>

<h1>Car Rental Assignment</h1>

@if (bp.ShowVehicleAlert)
{
    <div class="alert alert-danger w-25" role="alert" style="@bp.ShowVehicleAlertMessage">
        You must fill in all vehicle information before adding a vehicle!
    </div>
}
@if (bp.ShowRentAlert)
{
    <div class="alert alert-danger w-25" role="alert" style="@bp.ShowRentAlertMessage">
        Choose a customer to rent the car!
    </div>
}
<div class="row" style="@bp.ProcessingInProgress">
    <h4>Vehicles</h4>
    <table class="table border border-2 border-dark table-borderless w-75">
        <thead class="table-dark">
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Make</th>
                <th scope="col">Odometer</th>
                <th scope="col">Cost Km</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">$ Day</th>
                <th scope="col">Action</th>
                <th></th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input @bind="bp.Vehicle.RegNO" type="text" class="form-control" placeholder="RegNo" aria-describedby="addon-wrapping"></td>
                <td><input @bind="bp.Vehicle.Make" type="text" class="form-control" placeholder="Make" aria-describedby="addon-wrapping"></td>
                <td><input @bind="bp.Vehicle.Odometer" type="text" class="form-control" placeholder="0" aria-describedby="addon-wrapping"></td>
                <td><input @bind="bp.Vehicle.KmCost" type="text" class="form-control" placeholder="0" aria-describedby="addon-wrapping"></td>
                <td>
                    <select @bind="bp.Vehicle.Type" class="form-select" aria-label="Default select example">
                        @foreach (var item in bp.VehicleTypeNames)
                        {
                            <option>@item</option>
                        }
                    </select>
                </td>
                <td><input @bind="bp.Vehicle.DayCost" type="text" class="form-control" placeholder="0" aria-describedby="addon-wrapping"></td>
                <td><button @onclick="(() => bp.AddVehicle(bp.Vehicle.RegNO, bp.Vehicle.Make, bp.Vehicle.Odometer, bp.Vehicle.KmCost, bp.Vehicle.DayCost, bp.Vehicle.Type))" type="button" class="btn btn-outline-success">Add</button></td>
                <td></td>
                <td><span class="badge text-bg-warning" style="@bp.DisplayProcessing">Processing</span></td>
            </tr>
            @foreach (var v in bp.GetVehicles())
            {
                <tr>
                    <th scope="row">@v.RegNO</th>
                    <td>@v.Make</td>
                    <td>@v.Odometer</td>
                    <td>@v.KmCost</td>
                    <td>@v.Type</td>
                    <td>@v.DayCost</td>
                    @if (v.Status == VehicleStatuses.Booked)
                    {
                        <td><input @bind="bp.Booking.KmReturned" type="text" class="form-control" placeholder="0" aria-describedby="addon-wrapping"></td>
                        <td><button @onclick="(() => bp.ReturnVehicle(v.Id, bp.Booking.KmReturned))" type="button" class="btn btn-outline-success">Return</button></td>
                    }
                    else
                    {
                        <td>
                            <select @bind="bp.InputCustomerId" class="form-select" aria-label="Default select example">
                                @foreach (var p in bp.GetCustomers())
                                {
                                    <option value="@p.Id">@p.LastName @p.FirstName (@p.SocialSecurityNumber)</option>
                                }
                            </select>
                        </td>
                        <td>                         
                            <button @onclick="(() => bp.RentVehicle(v.Id, bp.InputCustomerId))" type="button" class="btn btn-outline-success">Rent</button>
                        </td>                    
                    }
                    @if (v.Status == VehicleStatuses.Available)
                    {
                        <td><span class="badge text-bg-dark">@v.Status</span></td>                        
                    }
                    else
                    {
                        <td><span class="badge text-bg-danger">@v.Status</span></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="row">
    <h4>Bookings</h4>
    <table class="table border border-2 border-dark table-borderless w-50">
        <thead class="table-dark">
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Customer</th>
                <th scope="col">Km Rented</th>
                <th scope="col">Km Returned</th>
                <th scope="col">Date Rented</th>
                <th scope="col">Date Returned</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>            
            @foreach (var b in bp.GetBookings())
            {
                <tr>
                    <th scope="row">@b.Vehicle?.RegNO</th>
                    <td>@b.Customer?.LastName @b.Customer?.FirstName (@b.Customer?.SocialSecurityNumber)</td>
                    <td>@b.KmRented</td>
                    @if (!b.Status)
                    {
                        <td>@b.KmReturned</td>                        
                        <td>@b.DateRented.ToString("MM/dd/yyyy")</td>
                        <td>@b.DateReturned.ToString("MM/dd/yyyy")</td>
                        <td>@b.GetTotalCost()</td>                        
                        <td><span class="badge text-bg-success">Closed</span></td>
                    }
                    else
                    {
                        <td></td>
                        <td>@b.DateRented.ToString("MM/dd/yyyy")</td>
                        <td></td>
                        <td></td>
                        <td><span class="badge text-bg-danger">Open</span></td>
                    }
                </tr>
            } 
        </tbody>
    </table>
</div>
<br />
@if (bp.ShowCustomerAlert)
{
    <div class="alert alert-danger w-25" role="alert" style="@bp.ShowCustomerAlertMessage">
        You must fill in all customer information before adding a customer!
    </div>
}
<div class="row">
    <h4>Customers</h4>
    <table class="table border border-2 border-dark w-25">
        <thead class="table-dark">
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input @bind="bp.Customer.SocialSecurityNumber" type="text" class="form-control" placeholder="SSN" aria-describedby="addon-wrapping"></td>
                <td><input @bind="bp.Customer.LastName" type="text" class="form-control" placeholder="Last Name" aria-describedby="addon-wrapping"></td>
                <td><input @bind="bp.Customer.FirstName" type="text" class="form-control" placeholder="First Name" aria-describedby="addon-wrapping"></td>
                <td><button @onclick="(() => bp.AddCustomer(bp.Customer.SocialSecurityNumber, bp.Customer.FirstName, bp.Customer.LastName))" type="button" class="btn btn-outline-success">Add</button></td>
            </tr>
            @foreach (var c in bp.GetCustomers())
            {
                <tr>
                    <th scope="row">@c.SocialSecurityNumber</th>
                    <td>@c.LastName</td>
                    <td>@c.FirstName</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>



